doctype html
html
  head
    title Messaging App
  body
    header
      nav
        ul
          li
            a(href="/users/upgrade") Upgrade Account
          li
            a(href="/users/logout") Logout
    main
        p
          a(href="/message/new") Create Message
